.containerInner {
  /* height: 75vh;
  width: 75vw; */
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.containerOuter {
  margin-top: -27px;
}

.header {
  color: white;
  font-family: helvetica;
  background-color: #38006b;
  width: 100%;
  padding: 27px;
  font-size: 20px;
  min-height: 55px;
  margin-left: -26px;
}

.head {
  font-size: 18px;
  text-align: center;
}

.head > p {
  margin-top: -46px;
  color: white;
}
.logoGame {
  width: 8%;
  margin-top: 27px;
  margin-left: -29%;
  position: absolute;
}

.placeholder {
  font-style: italic;
}

.allcards {
  height: 100px;
  width: 80px;
  border: 1px solid black;
  border-radius: 6px;
  display: 'flex';
  flex-direction: 'column';
  justify-content: 'center';
  box-shadow: 2px 2px 8px;
}

.animate:active {
   transform: rotateY(60deg);
   -webkit-transform: rotateY(60deg);
   -ms-transform: rotateY(60deg);
}

.game-board-all {
  width: 500px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}

.container {
  margin: 0px 15px 21px 15px;
}
