.button {
  border: none;
  font-size: 12px;
  font-family: helvetica;
  color: gray;
  padding-top: 0px;
  padding-right: 15px;
  padding-bottom: 0px;
  padding-left: 15px;
}

button:focus {
  outline:0;
}

.container {
  margin-top: 0px;
  display: flex;
  flex-direction: row;
}

.parentflex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.separator {
  color: gray;
  padding-right: 3px;
  padding-left: 3px;
}

.easy {
  color: black;
  font-weight: bold;
  border: none;
  font-size: 12px;
  font-family: helvetica;
  padding-top: 0px;
  padding-right: 15px;
  padding-bottom: 0px;
  padding-left: 15px;
}

.difficult {
  color: black;
  font-weight: bold;
  border: none;
  font-size: 12px;
  font-family: helvetica;
  padding-top: 0px;
  padding-right: 15px;
  padding-bottom: 0px;
  padding-left: 15px;
}

.resetbutton {
  border: none;
  font-size: 12px;
  font-family: helvetica;
  color: gray;
  padding-top: 0px;
  padding-right: 15px;
  padding-bottom: 0px;
  padding-left: 15px;
}

.resetbutton:hover {
  color: black;
  font-weight: bold;
}
